<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/index_styles.css">
	<link rel="icon" href="../images/logo.png" type="image/png" sizes="16x16">
</head>
<body>
	<div class="col-md-4"></div>
	<div class="col-md-4">
	    <div class="box">
	      <img src="../images/logo.png" alt="Logo" id="logo">
	      <div class="caption">
	        <p id="desc">This is a secure chatting groups app. Developed using NodeJS and MongoDB with Bootstrap styles.<br> You can login with your Facebook account easily and smoothly without any required fields to fill out!</p>
	        <hr>
	        <p id="copyright">Developed & Designed By <strong>Ahmed Salah</strong> &copy; 2016</p>
	        <a href="/auth/facebook"><img src="../images/icon-login-fb.png" alt="Login"></a>
	      </div>
	    </div>
	</div>
	<div class="col-md-4"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>



