<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/index_styles.css">
</head>
<body>
	<div class="container">
		<div class="row">
		  <div class="col-sm-6 col-md-6">
		    <div class="thumbnail">
		      <img src="../images/logo.png" alt="Logo">
		      <div class="caption">
		        <h3>Coders Zone Chat</h3>
		        <p>Let's chat with together to make our world more better.!Let's chat with together to make our world more better.!</p>
		        <p><a href="/auth/facebook"><img src="../images/icon-login-fb.png" alt="Login"></a></p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>



