body{
	background-color: #F2F1EF;
}

.thumbnail{
	margin-top: 5%;
}

.title{
	color: #6C7A89;
	text-align: center;
}

.user-info-tbl{
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.userPic{
	width: 50px;
	border-radius: 4px;
}

.userName{
	display: inline;
	position: relative;
	top: 5px;
	left: 4px;
}

#logout{
	float: right;
	margin-top: 8px;
	margin-right: 4px;
}

.newroom-box{
	margin-top: 10px;
	margin-right: 1.5%;
	margin-left: 1.5%;
	max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}

.list-group-item:hover{
	background-color: #ecf0f1;
	text-decoration: none !important;
}

.rooms-name{
	text-decoration: none !important;
	color: #6C7A89;
	font-size: 18px;
}
