body{
	background: #1A2980; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */          
}

.box{
	margin-top: 15%;
	text-align: center;

}

#logo{
	-webkit-filter: drop-shadow(3px 3px 3px #222);
  	filter: drop-shadow(3px 3px 3px #222);
}

.caption img{
	width: 100%;
	-webkit-filter: drop-shadow(3px 3px 3px #222);
  	filter: drop-shadow(3px 3px 3px #222);
}

h3{
	text-align: center;
}

hr{
	opacity: 0;
}

#desc{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
}

#copyright{
	text-align: center;
	font-size: 15px;
	font-family: cursive;
}