body{
	background-color: #F2F1EF;
}

.thumbnail{
	margin-top: 5%;
	/*margin-bottom: 5%;*/
}

.title{
	text-align: center;
	color: #3498db;
}

.user-info-tbl{
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.userPic{
	width: 50px;
	border-radius: 4px;
}

.userPic-chat{
	width: 45px;
	border-radius: 3px;
	background-color: yellow;
}

.userPic-box{
	width: 35px;
	border-radius: 3px;
}

.userName{
	display: inline;
	position: relative;
	top: 5px;
	left: 4px;
}

#logout, #more-rooms{
	float: right;
	margin-top: 8px;
	margin-right: 4px;
}

#first-msg{
	font-size: 18px;
	color: #6C7A89;
	text-align: center;
}

.messages-box, .users-box{
	margin-top: 10px;
}

.users{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 420px;
}

.messages{
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.msg{
	background-color: #ecf0f1;
	color: black;
	border-radius: 6px;
	border-top-left-radius: 0;
	min-height: 60px;
	/*height: auto;*/
	max-width: 90%;
	position: relative;
	left: 45px;
	top: -46px;
}

.msg p{
	margin-left: 5px;
	padding-top: 5px;
	font-size: 14px;
}


.newmessage-div{
	margin-left: 1.5%;
	margin-right: 34.7%;
}

.newmessage{
	font-size: 15px;
	height: 40px;
}